
    .container__form {
        flex-direction: column;
        background-color:$lightgray;
        max-width: 400px;
        padding: 20px 40px;
        border-radius: 10px;
        margin: 30px;
        position:relative;
        box-shadow: 5px 5px 10px rgba(68, 68, 68, 0.6);

         // ---------------- CUSTOM FORM INPUT ----------------

        .input__form {
            display:inline-block;
            font-family: inherit;
            font-size: 16px;
            background-color: $white;
            border: 1px solid $medgray;
            border-radius: 4px;
            width: 100%;
            padding: 8px 8px;
        }

        input:focus  {
            border: 2px solid $bordo;
            outline: none;
        } 

         // ---------------- CUSTOM NEW RADIO BUTTON ----------------
        .radio__form label {
            background-color: $medgray;
            padding: 2px 10px 2px 26px;
            display: inline-block;
            cursor: pointer;
            border-radius: 3px;
            position: relative;
            transition: all 0.3s ease;
        }

        .radio__form label:hover {
            background-color: $medbordo;
        }

        .radio__form label::before {
            content: "";
            width: 1.5rem;
            height: 1.5rem;
            display: inline-block;
            background-color: none;
            border: 2px solid $bordo;
            border-radius: 50%;
            position: absolute;
            top: 7px;
            left: 8px;
        }

        .form-check input[type="radio"]:checked + label {
            padding: 2px 10px;
            background-color: $medbordo;
            border-radius: 2px;
            color: $white;
        }

        .form-check input[type="radio"]:checked + label:before {
            display:none
        }

        input[type="radio"] {
            display:none;
        }
        
         // ---------------- CUSTOM NEW SELECT ----------------
        select {
            appearance: none;
            background-color: transparent;
            border: none;
            padding: 0;
            margin: 0;
            width: 100%;
            font-family: inherit;
            font-size: inherit;
            cursor: inherit;
        }
        
        select::-ms-expand {
            display: none;
        }
        
        .select{
            width: 100%;
            display:block;
            font-family: inherit;
            font-size: 16px;
            background-color: $white;
            border: none;
            border-radius: 4px;
            border-width: 1px;
            border-style: solid;
            border-color: $medgray;
            padding: 8px 8px;
            cursor: pointer;
            display:grid;
            grid-template-areas: "select";
            align-items: center;
            position:relative;
            height:43px;
            outline: none;
        }
        
        .select::after {
            content: ";";
            width: 0.8em;
            height: 0.5em;
            background-color: $gray;
            clip-path: polygon(100% 0%, 0 0%, 50% 100%);
            justify-self: end;
        }
        
        select,
        .select:after {
        grid-area: select;
        }

        .select:focus-within  {
            border: 2px solid $bordo;
        } 
        
        #select, #proceso, .directo, .reactivo, .disperso {
            outline: none;
        }

     // ---------------- CUSTOM NEW INPUT FOR "ORIGEN" AND "DESCRIPCIÓN"----------------

     .input-text:empty:before {
        content: attr(data-placeholder) !important;
        color: $gray;

    }

    .input__expanded {
        width: 100%;
        font-family: inherit;
        font-size: 16px;
        background-color: $white;
        border: none;
        border-radius: 4px;
        border-width: 1px;
        border-style: solid;
        border-color: $medgray;
        padding: 8px 8px;
        align-items: center;
        outline: none;
    }

    #input-origen, #input-descripcion {
    display:none;
    }

    .input__expanded:focus-within  {
        border: 2px solid $bordo;

    } 

    .input-text  {
        outline: none;
    } 



    // ---------------- CLASSES TO COLORANTS----------------

    .tricromia {
        .select {
            .hide {
                display:none;
            }

            .show {
                display: block;
            }

        }
    } 
            
}


