// ---------------- BREAKPOINTS----------------
@media (min-width:62em) {

    body {
        overflow: scroll;

    }

    .container {
      flex-direction: column;
    }
  }

    // md 768px lg 992px xl 1200px

    $breakpoints-up: ("medium": "48em", "large":"62em", "xlarge":"75em");

    //sm 767px lg 991px xl 1199px
    $breakpoints-down: ("small": "47.9375em", "medium": "61.9375em", "large":"74.9375em");

    @mixin breakpoint-up ($size) {
      @media(min-width: map-get($breakpoints-up, $size)) {
        @content;

      }
    }
    @mixin breakpoint-down ($size) {
      @media(min-width: map-get($breakpoints-up, $size)) {
        @content;

      }
    }