//Colors 
$gray:   rgb(129, 127, 127);
$medgray:   rgb(199, 197, 197);
$lightgray: rgb(236, 229, 229);
$bordo: rgb(131, 11, 11);
$lightbordo: rgb(189, 62, 62);
$medbordo: rgba(107, 19, 19, 0.459);
$black: rgb(0, 0, 0);
$white: rgb(255, 255, 255);
$shadow: rgb(102, 102, 102);



